.full-width-table {
  width: 100%;
}
mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

mat-panel-description {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

button[mat-button] {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button[mat-button]:hover {
  background-color: #303f9f;
}

mat-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.mat-mdc-form-field-filter {
  font-size: 14px;
  padding-left: 15px;
  padding-inline-end: 15px;
  width: 100%;
}

