<mat-card>
  <div style="display: flex;">
    <div style="flex: 1;">
      <br>
      <mat-card-title> Traffic data overview <mat-icon>traffic</mat-icon></mat-card-title>
      <mat-panel-description>In this panel a more comprehensive look is shown into traffic patterns across road network.
        It includes information such as the name of the road,
        the number of vehicles that have passed, their average speed, and other relevant details about
        the road conditions. This data can be downloaded in various formats.</mat-panel-description>
      <br>
      <br>
      <div style="text-align: center;">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>download</mat-icon>Download Data </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="downloadFile('xml')">XML</button>
        <button mat-menu-item (click)="downloadFile('json')">JSON</button>
        <button mat-menu-item (click)="downloadFile('xlsx')">Excel</button>
      </mat-menu>
    </div>
    </div>
  </div>
</mat-card>


<br>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Date and Time Time Column -->
    <ng-container matColumnDef="appprocesstime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date and Time</th>
      <td mat-cell *matCellDef="let element">{{ element.appprocesstime }}</td>
    </ng-container>

    <!-- Road Name Column -->
    <ng-container matColumnDef="road_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Road Name</th>
      <td mat-cell *matCellDef="let element">{{ element.road_name }}</td>
    </ng-container>

    <!-- Road Info Column -->
    <ng-container matColumnDef="road_info">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Road Info</th>
      <td mat-cell *matCellDef="let element">{{ element.road_info }}</td>
    </ng-container>

    <!-- Counted Cars Column -->
    <ng-container matColumnDef="countedcars">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cars</th>
      <td mat-cell *matCellDef="let element">{{ element.countedcars }}</td>
    </ng-container>

    <!-- Average Speed Column -->
    <ng-container matColumnDef="average_speed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Average Speed</th>
      <td mat-cell *matCellDef="let element">{{ element.average_speed }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!--  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>-->
</div>
