<div style="text-align: center;">
  <br><br>
<mat-form-field>
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate  (dateChange)="onStartDateChange($event)" placeholder="Start date">
    <input matEndDate  (dateChange)="onEndDateChange($event)" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
  <ng-container *ngIf="isLoadingData">
    <br><br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
    <mat-card-subtitle style="text-align: center;">Updating Dashboard content</mat-card-subtitle>
  </ng-container>

</div>


<div class="dashboard-container">
  <div class="card-row">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-subtitle>Street with highest amount of cars passed by</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Card 2</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- Content for Card 2 -->
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Card 3</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- Content for Card 3 -->
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Card 4</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- Content for Card 4 -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--  END OF MATCARDS-->
<br>
<!--<mat-card>-->
<!--  <mat-card-title>Counted cars</mat-card-title>-->
<!--  <div class="dashboard-content">-->
<!--    <canvas id="line-chart" width="200" height="75" style="text-align: center;" ></canvas>-->
<!--  </div>-->
<!--</mat-card>-->
<mat-card style="width: 300px; height: 200px;">
  <mat-card-title>Counted cars</mat-card-title>
  <div class="dashboard-content">
    <canvas id="line-chart" width="280" height="120" style="text-align: center;"></canvas>
  </div>
</mat-card>



