<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="text-align: center; padding: 10px">
  <mat-card class="dashboard-card-header">

    <div class="card-header">
      <mat-card-title>Traffic Dashboard</mat-card-title>
      <mat-card-subtitle>Visualizing traffic data for time periods</mat-card-subtitle>
    </div>

    <!-- Your Traffic Monitoring Dashboard content goes here -->

    <mat-card-content class="content">

    </mat-card-content>

    <mat-card-actions class="actions">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate (dateChange)="onStartDateChange($event)" placeholder="Start date">
          <input matEndDate (dateChange)="onEndDateChange($event)" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </mat-card-actions>
  </mat-card>
</div>

  <ng-container *ngIf="isLoadingData">
    <br><br>
    <mat-progress-bar mode="query"></mat-progress-bar>
    <br>
    <mat-card-subtitle style="text-align: center;">Updating Dashboard content</mat-card-subtitle>
    <br>
  </ng-container>

<div class="dashboard-container-small">
  <div class="card-row-small">

    <mat-card class="dashboard-card-small">
      <mat-card-header class="dashboard-content-small">
        <mat-card-title><i class="material-icons">directions_car</i> Vehicles in total </mat-card-title>
        <mat-card-subtitle>Cars on road for that period</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="isLoadingData">
          <div class="loading-container">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="!isLoadingData">
          <h2>{{numberOfVehicles}}</h2>
        </ng-container>
      </mat-card-content>
      <ng-container *ngIf="showCardFooter">
        <mat-divider></mat-divider>
        <mat-card-footer><i class="material-icons" style="font-size:15px">update</i>Updated </mat-card-footer>
      </ng-container>
    </mat-card>

    <mat-card class="dashboard-card-small">
      <mat-card-header class="dashboard-content-small">
        <mat-card-title><i class="material-icons">speed</i>Average speed</mat-card-title>
        <mat-card-subtitle>From vehicles across road network</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="isLoadingData">
          <div class="loading-container">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="!isLoadingData">
          <h2>{{averageSpeedInRoad}}</h2>
        </ng-container>
      </mat-card-content>
      <ng-container *ngIf="showCardFooter">
        <mat-divider></mat-divider>
        <mat-card-footer><i class="material-icons" style="font-size:15px">update</i>Updated </mat-card-footer>
      </ng-container>
    </mat-card>

    <mat-card class="dashboard-card-small">
      <mat-card-header class="dashboard-content-small">
        <mat-card-title><i class="material-icons">traffic</i> Roads</mat-card-title>
        <mat-card-subtitle>Number of roads monitored</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="isLoadingData">
          <div class="loading-container">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="!isLoadingData">
          <h2>{{numberOfRoadsInNetwork}}</h2>
        </ng-container>
      </mat-card-content>
      <ng-container *ngIf="showCardFooter">
        <mat-divider></mat-divider>
        <mat-card-footer><i class="material-icons" style="font-size:15px">update</i>Updated </mat-card-footer>
      </ng-container>
    </mat-card>

    <mat-card class="dashboard-card-small">
      <mat-card-header class="dashboard-content-small">
        <mat-card-title><i class="material-icons">sensors</i> Sensors</mat-card-title>
        <mat-card-subtitle>Number of sensors in roads</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="isLoadingData">
          <div class="loading-container">
            <div class="dot dot1"></div>
            <div class="dot dot2"></div>
            <div class="dot dot3"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="!isLoadingData">
          <h2>{{numberOfSensors}}</h2>
        </ng-container>
      </mat-card-content>

      <ng-container *ngIf="showCardFooter">
        <mat-divider></mat-divider>
        <mat-card-footer><i class="material-icons" style="font-size:15px">update</i>Updated </mat-card-footer>
      </ng-container>
    </mat-card>
  </div>
</div>

<!--  END OF MATCARDS-->

<!--<div>-->
<!--  <mat-card class="dashboard-card">-->
<!--    <mat-tab-group>-->
<!--      <mat-tab label="First">-->
<!--        <mat-card-title>Counted cars</mat-card-title>-->
<!--        <div class="dashboard-content">-->
<!--          <canvas class="canvas" id="line-chart"></canvas>-->
<!--        </div>-->
<!--      </mat-tab>-->

<!--      <mat-tab label="Second">-->
<!--        <mat-card-title>Counted cars</mat-card-title>-->
<!--        <div class="dashboard-content">-->
<!--          <canvas id="line-chart-2"></canvas>-->
<!--        </div>-->
<!--      </mat-tab>-->
<!--    </mat-tab-group>-->
<!--  </mat-card>-->
<!--</div>-->

<div class="card-container">
  <mat-card class="right-card">
    <mat-card-content>
      <mat-card-title>Highest amount of vehicles</mat-card-title>
      <mat-card-subtitle>Top 10 street with the highest number of vehicles passed by </mat-card-subtitle>
      <div class="dashboard-content">
        <canvas class="canvas" id="line-chart"></canvas>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="left-card">
    <mat-card-content>
      <mat-card-title>Speed Overview</mat-card-title>
      <mat-card-subtitle>Changes in vehicle speeds</mat-card-subtitle>

    </mat-card-content>
  </mat-card>
</div>

<div class="card-container">
  <mat-card class="left-card">
    <mat-card-content>
      <mat-card-title>Highest amount of vehicles</mat-card-title>
      <mat-card-subtitle>Top 10 street with the highest number of vehicles passed by </mat-card-subtitle>
      <div class="dashboard-content">
        <canvas class="canvas" id="line-chart-1"></canvas>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="right-card">
    <mat-card-content>
      <mat-card-title>Speed Overview</mat-card-title>
      <mat-card-subtitle>Changes in vehicle speeds</mat-card-subtitle>

    </mat-card-content>
  </mat-card>
</div>





